<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.list.fh.rdfparser.mapper.DcatInfoMapper">
    <resultMap type="com.list.fh.rdfparser.model.DcatDatasetInfo" id="datasetMap">
        <result column="Dcat_seq" property="dcatSeq"/>
        <result column="DATASET_accessRights" property="datasetAccessRights"/>
        <result column="DATASET_conformsTo" property="datasetConformsTo"/>
        <result column="DATASET_contactPoint" property="datasetContactPoint"/>
        <result column="DATASET_creator" property="datasetCreator"/>
        <result column="DATASET_description" property="datasetDescription"/>
        <result column="DATASET_title" property="datasetTitle"/>
        <result column="DATASET_issued" property="datasetIssued"/>
        <result column="DATASET_modified" property="datasetModified"/>
        <result column="DATASET_language" property="datasetLanguage"/>
        <result column="DATASET_publisher" property="datasetPublisher"/>
        <result column="DATASET_identifier" property="datasetIdentifier"/>
        <result column="DATASET_theme" property="datasetTheme"/>
        <result column="DATASET_type" property="datasetType"/>
        <result column="DATASET_relation" property="datasetRelation"/>
        <result column="DATASET_keyword" property="datasetKeyword"/>
        <result column="DATASET_license" property="datasetLicense"/>
        <result column="DATASET_distribution" property="datasetDistribution"/>
        <result column="DATASET_spatial" property="datasetSpatial"/>
    </resultMap>

    <resultMap type="com.list.fh.rdfparser.model.DcatDistributionInfo" id="distributionMap">
        <result column="Dcat_seq" property="dcatSeq"/>
        <result column="Distribution_title" property="distributionTitle"/>
        <result column="Distribution_description" property="distributionDescription"/>
        <result column="Distribution_issued" property="distributionIssued"/>
        <result column="Distribution_license" property="distributionLicense"/>
        <result column="Distribution_accessURL" property="distributionAccessUrl"/>
        <result column="Distribution_accessService" property="distributionAccessService"/>
        <result column="Distribution_downloadURL" property="distributionDownloadUrl"/>
        <result column="Distribution_spatialResolutionlnMeters" property="distributionSpatialResolutionlnMeters"/>
        <result column="Distribution_format" property="distributionFormat"/>
        <result column="Distribution_compressFormat" property="distributionCompressFormat"/>
    </resultMap>

    <resultMap type="com.list.fh.rdfparser.model.DcatDataserviceInfo" id="dataserviceMap">
        <result column="Dcat_seq" property="dcatSeq"/>
        <result column="DataService_endpointURL" property="dataserviceEndpointUrl"/>
        <result column="DataService_endpointDescripton" property="dataserviceEndpointDescripton"/>
        <result column="DataService_servesDataset" property="dataserviceServesDataset"/>
    </resultMap>

    <select id="selectDatasetInfoList" parameterType="com.list.fh.rdfparser.model.DcatDatasetInfo"
            resultMap="datasetMap">
        SELECT  Dcat_seq,
                DATASET_accessRights,
                DATASET_conformsTo,
                DATASET_contactPoint,
                DATASET_creator,
                DATASET_description,
                DATASET_title,
                DATASET_issued,
                DATASET_modified,
                DATASET_language,
                DATASET_publisher,
                DATASET_identifier,
                DATASET_theme,
                DATASET_type,
                DATASET_relation,
                DATASET_keyword,
                DATASET_license,
                DATASET_distribution,
                DATASET_spatial
        FROM    sample_dcat
    </select>

    <select id="selectDistributionInfoList" parameterType="com.list.fh.rdfparser.model.DcatDistributionInfo"
            resultMap="distributionMap">
        SELECT  Dcat_seq,
                Distribution_title,
                Distribution_description,
                Distribution_issued,
                Distribution_license,
                Distribution_accessURL,
                Distribution_accessService,
                Distribution_downloadURL,
                Distribution_spatialResolutionlnMeters,
                Distribution_format,
                Distribution_compressFormat
        FROM    sample_dcat
    </select>

    <select id="selectDataserviceInfoList" parameterType="com.list.fh.rdfparser.model.DcatDataserviceInfo"
            resultMap="dataserviceMap">
        SELECT  Dcat_seq,
                DataService_endpointURL,
                DataService_endpointDescripton,
                DataService_servesDataset
        FROM    sample_dcat
    </select>
</mapper>
